<h1> Veja as suas postagens: </h1>

{{#each  posts}}

    <h1> Id: {{id}} </h1>
    <h2> Título: {{titulo}} </h2>
    <p> Contéudo: {{conteudo}} </p>
    <p> Data: {{createdAt}} </p>
    <p> id User: {{fk_user}} </p>

    <a href="/postagens/deletar/{{id}}"> <button> Deletar </button> </a>

    <br> <br>

    <a href="/postagens/alterar/{{id}}"> <button> Alterar </button> </a>

    <hr>

{{/each}}